@page "/about"

<PageHeader PageTitle="About" />

<div class="accordion" id="About">
  <div class="mb-3">
    <About_Card About="@AboutClient" />
  </div>
  <div class="mb-3">
    <About_Card About="@AboutClientServices" Parent="About" />
  </div>
  <div class="mb-3">
    <About_Card About="@AboutModels" Parent="About" />
  </div>
  <div class="mb-3">
    <About_Card About="@AboutServer" Parent="About" />
  </div>
  <div class="mb-3">
    <About_Card About="@AboutServerServices" Parent="About" />
  </div>

  @*<div class="text-black border-1">
    <ul>
    @foreach (string AssemblyItem in AssembliesList) {
    <li>@AssemblyItem</li>
    }
    </ul>
    </div>*@
</div>
