@using MediaSearch.Models

<div class="FilterEdit p-4">

  <EditForm Model="@Filter" OnSubmit="_ProcessSearch">

    <div class="input-group mb-2 mt-2">
      <label class="col-sm-2 col-form-label" for="FilterKewords">Keywords</label>
      <input type="text" @bind="@Filter.Keywords" class="form-control" id="FilterKeywords" placeholder="k1 k2 ..." />
      <div class="input-group-text p-0">
        <select class="form-select" @bind="@Filter.KeywordsSelection">
          <option value="@EFilterType.All">@EFilterType.All</option>
          <option value="@EFilterType.Any">@EFilterType.Any</option>
        </select>
      </div>
      <button class="btn btn-outline-danger" type="button" id="ClearKeywords" @onclick="ClearKeywords" disabled="@ClearKeywordsDisabled">x</button>
    </div>

    <div class="input-group mb-2">
      <label class="col-sm-2 col-form-label" for="FilterTags">Tags</label>
      <input type="text" @bind="@Filter.Tags" class="form-control" id="FilterTags" placeholder="t1 t2 ..." />
      <div class="input-group-text p-0">
        <select class="form-select" @bind="@Filter.TagSelection">
          <option value="@EFilterType.All">@EFilterType.All</option>
          <option value="@EFilterType.Any">@EFilterType.Any</option>
        </select>
      </div>
      <button class="btn btn-outline-danger" type="button" id="ClearTags" @onclick="ClearTags" disabled="@ClearTagsDisabled">x</button>
    </div>

    <div class="input-group mb-2">
      <label class="col-sm-2 col-form-label" for="Added">Added since</label>
      <select class="form-select" id="Added" @bind="@Filter.DaysBack">
        <option value="1">yesterday</option>
        <option value="7">7 days</option>
        <option value="15">15 days</option>
        <option value="0">forever</option>
      </select>
    </div>

    <div class="input-group mb-2">
      <label class="col-sm-2 col-form-label" for="Added">Movie year</label>
      <label class="input-group-text" for="OutputDateMin">From year</label>
      <input type="number" @bind-value="@Filter.OutputDateMin" class="form-control" id="OutputDateMin" />

      <label class="input-group-text" for="OutputDateMax">End year</label>
      <input type="number" @bind-value="@Filter.OutputDateMax" class="form-control" id="OutputDateMax" />

      <button class="btn btn-outline-danger" type="button" id="ClearOutputDate" @onclick="ClearOutputDate" disabled="@ClearOutputDateDisabled">x</button>
    </div>

    <div class="input-group mb-2">
      <label class="col-sm-2 col-form-label">Groups</label>

      <label class="input-group-text" for="FilterGroup">Group</label>
      <select class="form-select" @bind="@Filter.Group" id="FilterGroup">
        <option value="">Select a group ...</option>
        @foreach (string GroupItem in _Groups) {
          <option value="@GroupItem">@GroupItem.TrimEnd(' ','#')</option>
        }
      </select>

      @*<label class="input-group-text" for="FilterGroup">Membership</label>
      <select class="selectpicker" id="FilterGroup" multiple @onchange="@GroupMembershipSelectionChanged">
        <option value="">Select group(s) ...</option>
        @foreach (string GroupItem in _Groups) {
          <option value="@GroupItem">@GroupItem.TrimEnd(' ','#')</option>
        }
      </select>*@

      @*<div class="input-group-text p-0">
        <select class="form-select" @bind="@Filter.GroupFilter">
          <option value="@EFilterGroup.All">@EFilterGroup.All</option>
          <option value="@EFilterGroup.WithGroup">@EFilterGroup.WithGroup</option>
          <option value="@EFilterGroup.WithoutGroup">@EFilterGroup.WithoutGroup</option>
        </select>
      </div>*@

      <div class="form-check form-switch align-self-center ms-3 me-3">
        <input type="checkbox" class="form-check-input" role="switch" data-onstyle="primary" @bind="@Filter.GroupOnly" id="GroupOnly" />
        <label class="form-check-label" for="GroupOnly">Groups only</label>
      </div>

      <button class="btn btn-outline-danger" type="button" id="ClearGroup" @onclick="ClearGroup" disabled="@ClearGroupDisabled">x</button>
    </div>

    <div class="d-flex justify-content-between mb-2 mt-4">
      <input type="button" class="btn btn-secondary ms-5" value="Clear filter" @onclick="ClearFilter" />
      <input type="submit" class="btn btn-primary me-5" value="Apply filter" />
    </div>

  </EditForm>

</div>

