<div>
  @if (MoviesPage is not null) {

    <table class="VideoList col-12 mb-3">
      <tr>
        <td class="col-4 text-center align-middle">
          <table class="col-12">
            <tr>
              <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshHome" disabled="@BackDisabled">&lt;&lt;</button></td>
              <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshPrevious" disabled="@BackDisabled">&lt;</button></td>
              <td class="col-4 ActualPage h3 align-middle text-center">(@Pagination)</td>
              <td class="col-2"> <button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshNext" disabled="@NextDisabled">&gt;</button></td>
              <td class="col-2"> <button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshEnd" disabled="@NextDisabled">&gt;&gt;</button></td>
            </tr>
          </table>
        </td>
        <td class="col-4 text-center align-middle">
          <span class="font-weight-bold h3 text-center align-middle">@MoviesTitle</span>
        </td>

        <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="ViewList">List</button></td>
        <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="ViewCard">Card</button></td>
      </tr>
    </table>

    @switch (ViewType) {

      @case EViewType.SmallCard: {
          <Movie_TableSmallCards MoviesPage="@MoviesPage"></Movie_TableSmallCards>
          break;
        }

      @case EViewType.List: {
          <Movie_TableSimple MoviesPage="@MoviesPage"></Movie_TableSimple>
          break;
        }
    }

  } else {
    <span>No movies available</span>
  }
</div>
