<div>
  @if (MoviesPage is not null) {

    <table class="VideoList col-12 mb-3">
      <tr>
        <td class="col-4 text-center align-middle">
          <table class="col-12">
            <tr>
              <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshHome" disabled="@BackDisabled">&lt;&lt;</button></td>
              <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshPrevious" disabled="@BackDisabled">&lt;</button></td>
              <td class="col-4 ActualPage h3 align-middle text-center">(@Pagination)</td>
              <td class="col-2"> <button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshNext" disabled="@NextDisabled">&gt;</button></td>
              <td class="col-2"> <button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshEnd" disabled="@NextDisabled">&gt;&gt;</button></td>
            </tr>
          </table>
        </td>
        <td class="col-4 text-center align-middle">
          <span class="font-weight-bold h3 text-center align-middle">@MoviesTitle</span>
        </td>

        <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="ViewList">List</button></td>
        <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="ViewCard">Card</button></td>
      </tr>
    </table>

    @switch (ViewType) {

      @case EViewType.SmallCard: {
          <div class="row row-cols-2">
            @foreach (IMovie MovieItem in MoviesPage.Movies) {
              <div class="col">
                <Video_SmallCard Movie="@MovieItem" />
              </div>
            }
          </div>
          break;
        }

      @case EViewType.List: {
          <div class="container">
            <table class="table table-striped table-hover">
              <thead class="table-light">
                <tr>
                  <th scope="col" width="40%">Name</th>
                  <th scope="col" width="8%">Year</th>
                  <th scope="col" width="10%">Size (GB)</th>
                  <th scope="col" width="42%">Path</th>
                </tr>
              </thead>
              <tbody>
                @foreach (IMovie MovieItem in MoviesPage.Movies) {
                  <tr class="border-bottom" height="64px">
                    <td scope="row">
                      @MovieItem.Name
                    </td>
                    <td>
                      <span class="badge rounded-pill bg-danger text-light">@MovieItem.OutputYear</span>
                    </td>
                    <td class="text-end">
                      @_GetSizeForDisplay(MovieItem.Size)
                    </td>
                    <td>
                      @MovieItem.StoragePath.BeforeLast("/")
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          break;
        }
    }

  } else {
    <span>No movies available</span>
  }
</div>
