<div class="container">
  <div class="card mb-4 ">
    <div class="card-header">
      <span class="h3">@HeaderText</span>
    </div>
    <div class="card-body">
      <div class="card-title">@BodyTitle</div>

      <div class="row">
        <div class="col-3">
          @if (IsImageLoaded)
          {
            <div class="card-img-top">
              <img src="@ImageSource" />
            </div>
          }
          else
          {
            <Loading Message="..." />
          }
        </div>
        <div class="col-9">
          <div class="card-subtitle">@BodySubTitle</div>
          <div class="card-text">@BodyText</div>
        </div>
      </div>


    </div>
    @if (!string.IsNullOrEmpty(FooterLink))
    {
      <div class="card-footer">
        <div class="card-link">@FooterLink</div>
      </div>
    }
  </div>
</div>
