<div class="accordion-item">

  <h2 class="accordion-header" >
    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="@CollapsableChild">@AboutHeader</button>
  </h2>

  <div id="@Id" class="accordion-collapse collapse show" >
    <div class="accordion-body">
      @{
        using (StringReader Reader = new StringReader(About.ChangeLog)) {
          string? Line = Reader.ReadLine();
          while (Line is not null) {
            if (Line.Trim() == "") {
              <br />
              Line = Reader.ReadLine();
              continue;
            }
            switch (Line.First()) {
              case '#':
                <div class="changelog changelog.heading">@Line.After("# ")</div>
                Line = Reader.ReadLine();
                continue;

              case '*':
                <div class="changelog changelog.version">@Line.After("* ")</div>

                <ul>
                  @{
                    Line = Reader.ReadLine();
                    while (Line is not null) {
                      if (Line.Length > 0) {
                        if (Line.First() == '*') {
                          break;
                        }
                        if (Line.First() == '-') {
                          <li class="changelog changelog.detail">@Line.After("- ")</li>
                        }
                      }
                      Line = Reader.ReadLine();
                    }
                  }
                </ul>
                continue;
            }

          }

        }
      }
    </div>
  </div>
</div>


