  <div class="card mb-3 SmallCardShadow">

    <div class="card-header">
      <span class="h4">@HeaderText</span>
    </div>

    <div class="card-body">
      <div class="card-title">@BodyTitle</div>

      <div class="row">
        <div class="col fixed">
          @if (IsPictureLoaded) {
            <div class="card-img-top">
              <img src="@PictureData" width="160" />
            </div>
          } else {
            <Loading Message="..." />
          }
        </div>
        <div class="col">
          <div class="card-subtitle">@BodySubTitle</div>
          <div class="card-text">@BodyText</div>
        </div>
      </div>

    </div>

    <div class="card-footer">
      @foreach (string TagItem in Movie.Tags) {
        <span class="badge rounded-pill bg-info text-light m-auto">@TagItem</span>
      }
    </div>
  </div>
