@using MediaSearch.Models;

<div class="container-fluid">
  <div class="row border-1 border-dark border-bottom text-black fw-bold">
    <div class="col col-1 text-center">Type / Year</div>
    <div class="col col-5 text-center">Name</div>
    <div class="col col-1 text-center">Size</div>
    <div class="col col-5 text-center">Path</div>
  </div>
  @{
    int LineNumber = 1;
    foreach (IMovie MovieItem in (MoviesPage ?? TMoviesPage.Empty).Movies) {
      string RowClass = "movierow movierow-primary";
      if (LineNumber % 2 == 0) {
        RowClass = "movierow movierow-secondary";
      }
      LineNumber++;
              <div class="@RowClass">
                <div class="row mt-1 mb-1 " >
                  <div class="col col-1 d-flex align-self-center justify-content-center">
                    <span class="badge rounded bg-dark text-light text-center" style="width:50px; justify-content:center;">@MovieItem.Extension.ToString().ToLowerInvariant()</span>
                    &nbsp;
                    <span class="badge rounded bg-danger text-light text-center" style="width:50px; justify-content:center;">@MovieItem.OutputYear</span>
                  </div>

                  <div class="col col-5">
                    <span class="d-block text-truncate">@MovieItem.Name</span>
                  </div>

                  <div class="col col-1 text-end">
                    @DisplayConverters.DisplaySizeInUnit(MovieItem.Size)
                  </div>

                  <div class="col col-4">
                    <span class="d-block text-truncate">StoragePath</span>
                    //<span class="d-block text-truncate">DisplayConverters.DisplayPathNormalized(MovieItem.StoragePath)</span>
                  </div>
                </div>
              </div>
    }
  }
</div>
