@using MovieSearchClientModels
@using MovieSearchModels

@if (Movies is not null) {

  <div class="card col-12">

    <div class="card-header">
      <table class="VideoList col-12">
        <tr>
          <td class="col-4 text-center align-middle">
            <table class="col-12">
              <tr>
                <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshHome">&lt;&lt;</button></td>
                <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshPrevious" disabled="@BackDisabled">&lt;</button></td>
                <td class="col-4 ActualPage h3 align-middle text-center">(@Pagination)</td>
                <td class="col-2"> <button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshNext" disabled="@NextDisabled">&gt;</button></td>
                <td class="col-2"> <button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="RefreshEnd">&gt;&gt;</button></td>
              </tr>
            </table>
          </td>
          <td class="col-4 text-center align-middle">
            <span class="font-weight-bold h3 text-center align-middle">@MoviesTitle</span>
          </td>
          <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="ViewList">List</button></td>
          <td class="col-2"><button type="button" class="btn btn-block btn-outline-secondary m-1" @onclick="ViewCard">Card</button></td>
        </tr>
      </table>
    </div>

    <div class="card-body">

      @switch (ViewType) {

        case EViewType.Card:
          <table class="VideoList col-12">
            @foreach (IMovie MovieItem in Movies.Movies) {
              <tr>
                <td>
                  <Video_card Movie="@MovieItem" />
                </td>
              </tr>
            }

          </table>
          break;

        case EViewType.List:
          <div class="container">
            @foreach (IMovie MovieItem in Movies.Movies) {
              <div class="row border-bottom">
                <Video_item Movie="@MovieItem" />
              </div>
            }
          </div>
          break;
      }




    </div>
  </div>
}
